{% extends 'base.html' %}
{% block denguecluster %}

<small class="mb-1 text-muted">Largest Active Cluster</small>
<h5 class="mr-2 mb-0"> {{ listcompare}} </h5>

{% endblock %}

{% block neadatasmall %}
<small class="mb-1 text-muted">Smallest Active Cluster (NEA data)
    <!-- <a href="href="https://www.nea.gov.sg/dengue-zika/dengue/dengue-clusters">
        (Nea Data)
    </a> -->
</small>
<h5 class="mr-2 mb-0">{{neadatasmall}}</h5>
{% endblock %}

{% block neadatabig %}
<small class="mb-1 text-muted"> Largest Active Cluster (NEA data)
    <!-- <a href="href="https://www.nea.gov.sg/dengue-zika/dengue/dengue-clusters">
        (Nea Data)
    </a> -->
</small>
<h5 class="mr-2 mb-0">{{ neadatabig }}</h5>
{% endblock %}

{% block graphplot %}

<canvas id="myChart" width="400" height="400"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',

        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Average Dengue Cases',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                fill: false,
                data: {{ denguecases }}
    },
        {

            label: 'Average Rainfall(ml)',
            backgroundColor: 'rgb(0, 255, 255)',
            borderColor: 'rgb(0, 255, 255)',
            fill: false,
            data: {{ rainfalltotal }}
         }
        ]
    },

    // Configuration options go here
    options: {
        legend: {
            display: true,
                position: 'right'
        }

    }
});
</script>
{% endblock %}


{% block graphlinearreg %}
{{ linearreg }}
<img src="{{url_for('static', filename='images/Linear_Regression_DvR.svg')}}" style="padding-top: 5%;" width="100%"
    viewBox="0 0 20 10 alt=" image" />
{% endblock %}

{% block neadata %}
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Table Information</p>
                <div class="table-responsive">
                 <!-- Table element here-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
