{% extends 'base.html' %}
{% block graphplot %}

        <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',

    data: {
        labels: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        datasets: [{
            label: 'Average Dengue Cases',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            fill: false,
            data: {{denguecases}}
        },
        {

            label: 'Average Rainfall(ml)',
            backgroundColor: 'rgb(0, 255, 255)',
            borderColor: 'rgb(0, 255, 255)',
            fill: false,
            data: {{rainfalltotal}}
         }
        ]
    },

    // Configuration options go here
    options: {
        legend: {
                display: true,
                position: 'right'
        }

    }
});
</script>


{% endblock %}